*{
margin: 0px;
padding: 0px;
}

body{
  background-color:#641968;
}

#contenedor{
  width: 800px;
  background-color: #FFD69A ;
  margin: 0px auto;
}

.boletes{
  width: 100px;
  height: 100px;
  background-color: #79DDFE;
  border-radius: 50%;
  float:left;
  margin-right: 20px;
}

.boletes:hover{
  opacity: 0.5;
}

#uno{
  background-color: pink;
}

#dos{
  background-color: blue;
}

#tres{
 background-color: green;
}

#cuatro{
  background-color: red;
}

#menu{
  height: 100px;
  width: 480px;
  margin: 0 auto;

}

.izq{
  width: 340px;
  background-color:#4EC5FF;
  float: left;
  padding: 30px;
}

.der{
  width: 340px;
  background-color:#4EFFFF;
  float: left;
  padding: 30px;
}

#foot{
  height: 100px;
  clear: both;
  background-color: #D69AFF;
}

ul{
  list-style-type: none;
  width: 800px;
  margin:0 auto;
}

li a{
  text-decoration: none;
  display: block;
  padding:20px;
  background-color: black;
  color: white;
  float;left;
  text-align: center;
}

li a:hover{
  background-color: white;
  color: black;
}
